.carousel-img {
    height: 800px;
    object-fit: cover;
}

.logo {
    width: 200px;
    height: auto;
}

.navbar-custom {
    background-color: #264653;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
}

/* pie de pagina*/
.footer-custom {
    background-color: #264653;
    color: white;
    text-align: center;
    padding: 25px;
}