/* NAV BAR */

.logo {
    width: 200px;
    height: auto;
}

.navbar-custom {
    background-color: #264653;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
}


/* PROYECT CARD */

.project-card {
    width: 18rem;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}

.project-image {
    height: 180px;
    object-fit: cover;
}

.project-card .btn {
    background-color: #264653;
    border-color: #264653;
}

.project-card .btn:hover {
    background-color: #1d3540;
    border-color: #1d3540;
}
